.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userlist .table {
  margin-top: 65px;
  width: 75%;
}
.usercreate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 555px;
  flex-direction: column;
}

.usercreate .form_group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 755px;
  align-self: center;
  align-items: center;
}
.usercreate .form_group input {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.usercreate .form_group label {
  font-size: 24px;
}
